<!-- aside -->
<aside class="sidebar left width-sidebar-md" id="aside">
    {% set route = app.request.get('_route') %}

    <!-- button close -->
    <div class="d-flex jc-end m-1 d-none-md">
        <button class="btn btn-primary close">Close</button>
    </div>

    <!-- link / logo -->
    <div class="text-center text-primary fs-1 my-1">
        <a class="no-underline" href="{{ url('app_main') }}">SimpleCSS</a>
    </div>

    <!-- aside content -->
    <nav>
        <div class="collapse mb-half">
            <button class="collapse-btn btn-primary"
                    data-js="collapse"
                    data-target="#menu-side-component"
                    aria-expanded="true"
                    aria-controls="menu-side-component">
                Component
            </button>
            <div class="collapse-body show" id="menu-side-component">
                <ul class="list list-hover list-primary text-color">
                    <li class="list-item {{ route == 'app_accordion' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_accordion') }}">Accordion</a>
                    </li>
                    <li class="list-item {{ route == 'app_accordion_native' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_accordion_native') }}">Accordion native</a>
                    </li>
                    <li class="list-item {{ route == 'app_alert' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_alert') }}">Alert</a>
                    </li>
                    <li class="list-item {{ route == 'app_badge' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_badge') }}">Badge</a>
                    </li>
                    <li class="list-item {{ route == 'app_button' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_button') }}">Button</a>
                    </li>
                    <li class="list-item {{ route == 'app_card' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_card') }}">Card</a>
                    </li>
                    <li class="list-item {{ route == 'app_collapse' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_collapse') }}">Collapse</a>
                    </li>
                    <li class="list-item {{ route == 'app_collapse_native' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_collapse_native') }}">Collapse native</a>
                    </li>
                    <li class="list-item {{ route == 'app_dialog' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_dialog') }}">Dialog</a>
                    </li>
                    <li class="list-item {{ route == 'app_dropdown' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_dropdown') }}">Dropdown</a>
                    </li>
                    <li class="list-item {{ route == 'app_dropdown_native' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_dropdown_native') }}">Dropdown native</a>
                    </li>
                    <li class="list-item {{ route == 'app_form' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_form') }}">Form</a>
                    </li>
                    <li class="list-item {{ route == 'app_list' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_list') }}">List</a>
                    </li>
                    <li class="list-item {{ route == 'app_navbar' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_navbar') }}">Navbar</a>
                    </li>
                    <li class="list-item {{ route == 'app_navbar_side' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_navbar_side') }}">Navbar side</a>
                    </li>
                    <li class="list-item {{ route == 'app_tab' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_tab') }}">Tab</a>
                    </li>
                    <li class="list-item {{ route == 'app_table' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_table') }}">Table</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse mb-half">
            <button class="collapse-btn btn-primary"
                    data-js="collapse"
                    data-target="#menu-side-layout"
                    aria-expanded="true"
                    aria-controls="menu-side-layout">
                Layout
            </button>
            <div class="collapse-body show" id="menu-side-layout">
                <ul class="list list-hover list-primary text-color">
                    <li class="list-item {{ route == 'app_col' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_col') }}">Col</a>
                    </li>
                    <li class="list-item {{ route == 'app_container' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_container') }}">Container</a>
                    </li>
                    <li class="list-item {{ route == 'app_flex' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_flex') }}">Flex</a>
                    </li>
                    <li class="list-item {{ route == 'app_grid' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_grid') }}">Grid</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse mb-half">
            <button class="collapse-btn btn-primary"
                    data-js="collapse"
                    data-target="#menu-side-utility"
                    aria-expanded="true"
                    aria-controls="menu-side-utility">
                Utility
            </button>
            <div class="collapse-body show" id="menu-side-utility">
                <ul class="list list-hover list-primary text-color">
                    <li class="list-item {{ route == 'app_border' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_border') }}">Border</a>
                    </li>
                    <li class="list-item {{ route == 'app_color' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_color') }}">Color</a>
                    </li>
                    <li class="list-item {{ route == 'app_display' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_display') }}">Display</a>
                    </li>
                    <li class="list-item {{ route == 'app_helper' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_helper') }}">Helper</a>
                    </li>
                    <li class="list-item {{ route == 'app_image' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_image') }}">Image</a>
                    </li>
                    <li class="list-item {{ route == 'app_position' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_position') }}">Position</a>
                    </li>
                    <li class="list-item {{ route == 'app_sizing' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_sizing') }}">Sizing</a>
                    </li>
                    <li class="list-item {{ route == 'app_spacing' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_spacing') }}">Spacing</a>
                    </li>
                    <li class="list-item {{ route == 'app_text' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_text') }}">Text</a>
                    </li>
                    <li class="list-item {{ route == 'app_typography' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_typography') }}">Typography</a>
                    </li>
                    <li class="list-item {{ route == 'app_visibility' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_visibility') }}">Visibility</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse mb-half">
            <button class="collapse-btn btn-primary"
                    data-js="collapse"
                    data-target="#menu-side-abstract"
                    aria-expanded="true"
                    aria-controls="menu-side-abstract">
                Abstract
            </button>
            <div class="collapse-body show" id="menu-side-abstract">
                <ul class="list list-hover list-primary text-color">
                    <li class="list-item {{ route == 'app_animation' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_animation') }}">Animation</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse mb-half">
            <button class="collapse-btn btn-primary"
                    data-js="collapse"
                    data-target="#menu-side-other"
                    aria-expanded="true"
                    aria-controls="menu-side-other">
                Other
            </button>
            <div class="collapse-body show" id="menu-side-other">
                <ul class="list list-hover list-primary text-color">
                    <li class="list-item {{ route == 'app_ajax' ? 'active' : '' }}">
                        <a class="list-link" href="{{ url('app_ajax') }}">Ajax</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</aside>
