<!-- aside -->
<aside class="sidebar-left width-sidebar-md" id="aside">

    <!-- button close -->
    <div class="d-flex jc-end m-1 d-none-md">
        <button class="btn btn-primary close">Close</button>
    </div>

    <!-- link / logo -->
    <div class="text-center text-primary fs-1 my-1">
        <a class="no-underline" href="{{ url('app_main') }}">SimpleCSS</a>
    </div>

    <!-- aside content -->
    <nav>
        <div class="collapse mb-half">
            <button class="collapse-btn btn-primary" data-js="collapse" data-target="#menu-side-1">Menu</button>
            <div class="collapse-body show" id="menu-side-1">
                <ul class="list list-hover">
                    <li><a class="list-item" href="{{ url('app_accordion') }}">Accordion</a></li>
                    <li><a class="list-item" href="{{ url('app_accordion_native') }}">Accordion native</a></li>
                    <li><a class="list-item" href="{{ url('app_alert') }}">Alert</a></li>
                    <li><a class="list-item" href="{{ url('app_badge') }}">Badge</a></li>
                    <li><a class="list-item" href="{{ url('app_button') }}">Button</a></li>
                    <li><a class="list-item" href="{{ url('app_card') }}">Card</a></li>
                    <li><a class="list-item" href="{{ url('app_collapse') }}">Collapse</a></li>
                    <li><a class="list-item" href="{{ url('app_collapse_native') }}">Collapse native</a></li>
                    <li><a class="list-item" href="{{ url('app_dialog') }}">Dialog</a></li>
                    <li><a class="list-item" href="{{ url('app_dropdown') }}">Dropdown</a></li>
                    <li><a class="list-item" href="{{ url('app_dropdown_native') }}">Dropdown native</a></li>
                    <li><a class="list-item" href="{{ url('app_form') }}">Form</a></li>
                    <li><a class="list-item" href="{{ url('app_list') }}">List</a></li>
                    <li><a class="list-item" href="{{ url('app_navbar') }}">Navbar</a></li>
                    <li><a class="list-item" href="{{ url('app_navbar_side') }}">Navbar side</a></li>
                    <li><a class="list-item" href="{{ url('app_tab') }}">Tab</a></li>
                </ul>
            </div>
        </div>
    </nav>
</aside>
